%head
  %meta{:content => "0; URL=http://eddiehub.org", "http-equiv" => "refresh"}
%body
  .body
    %span
      %span
      %span
      %span
      %span
    .base
      %span
      .face
  .longfazers
    %span
    %span
    %span
    %span
  %h1 Redirecting